# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary data files
plan.pddl
problem.pddl
*.kdev4
*~
squirrel_planning_launch/common/d3_viz/mbostock-d3-v3.5.14-1-gbf0f88b.zip
squirrel_planning_launch/common/d3_viz/sample.json
squirrel_planning_launch/common/d3_viz/tree.html
squirrel_planning_launch/common/tidy_room_problem.pddl
squirrel_planning_launch/common/explore_area_problem.pddl
squirrel_planning_launch/common/examine_area_domain-nt.pddl
squirrel_planning_launch/common/examine_area_problem.pddl
squirrel_planning_launch/common/observe-classifiable_on_attempt_domain-nt.pddl
squirrel_planning_launch/common/observe-classifiable_on_attempt_problem.pddl
squirrel_planning_launch/common/tidy_area_domain-nt.pddl
squirrel_planning_launch/common/tidy_area_problem.pddl
squirrel_planning_launch/common/plan*
