<launch>

	<!-- domain file -->
	<param name="data_path" value="$(find squirrel_planning_launch)/common/" />
	<param name="planner_path" value="$(find rosplan_planning_system)/common/bin/" />

	<!-- domain file -->
	<param name="domain_path" value="$(find squirrel_planning_launch)/common/tidy_room_domain-nt.pddl" />

	<!-- knowledge base -->
	<node name="rosplan_knowledge_base" pkg="rosplan_knowledge_base" type="knowledgeBase" respawn="false" output="screen">
	</node>

	<!-- scene database (MongoDB) -->
	<node name="rosplan_scene_database" pkg="mongodb_store" type="mongodb_server.py" respawn="false" output="screen">
	    <param name="database_path" value="$(find rosplan_knowledge_base)/common/mongoDB" />
	</node>
	<node name="rosplan_scene_message_store" pkg="mongodb_store" type="message_store_node.py" respawn="false" output="screen">
	</node>

	<!-- Interface nodes -->
	<node name="squirrel_planning_interface_perception" pkg="squirrel_interface_perception" type="rpperceptionServer" output="screen">
		<param name="action_server" value="/squirrel_look_for_objects" />
	</node>

	<node name="squirrel_planning_interface_objects" pkg="squirrel_interface_perception" type="rpObjectPerception" output="screen">
	</node>
</launch>

