<?xml version="1.0"?>
<launch>

	<!-- data paths -->
	<param name="/rosplan/data_path" value="$(find squirrel_planning_launch)/common/" />
	<param name="/rosplan/planner_path" value="$(find rosplan_planning_system)/common/bin/" />

	<!-- domain file -->
	<param name="/rosplan/domain_path" value="$(find squirrel_planning_launch)/common/grasping_domain-nt.pddl" />

	<!-- knowledge base -->
	<node name="rosplan_knowledge_base" pkg="rosplan_knowledge_base" type="knowledgeBase" respawn="false" output="screen" />

	<!-- scene database (MongoDB) -->
	<node name="rosplan_scene_database" pkg="mongodb_store" type="mongodb_server.py" respawn="false" output="screen">
		<param name="database_path" value="$(find rosplan_knowledge_base)/common/mongoDB" />
	</node>
	<node name="rosplan_scene_message_store" pkg="mongodb_store" type="message_store_node.py" respawn="false" output="log" />

	<!-- planning system -->
	<node name="rosplan_planning_system" pkg="rosplan_planning_system" type="planner" respawn="false" output="screen">
		<param name="data_path" value="$(find squirrel_planning_launch)/common/" />
		<param name="problem_path" value="$(find squirrel_planning_launch)/common/problem.pddl" />
		<param name="strl_file_path" value="$(find squirrel_planning_launch)/common/plan.strl" />

		<param name="planner_command" value="cat $(find squirrel_planning_launch)/common/test_grasp_plan.pddl" />
		<param name="generate_default_problem" value="true" />
	</node>

	<!-- Interface nodes -->
	<node name="squirrel_interface_manipulation" pkg="squirrel_interface_manipulation" type="rpgraspServer" respawn="false" output="screen">
		<param name="blind_grasp_action_server" value="/metahand_grasp_server" />
	</node>

	<node name="squirrel_interface_perception" pkg="squirrel_interface_perception" type="rpperceptionServer" output="screen">
		<param name="action_server" value="/squirrel_look_for_objects_in_hand" />
	</node>

	<node name="squirrel_interface_perception_object" pkg="squirrel_interface_perception" type="rpObjectPerception" output="screen">

	</node>
<!--
	<node name="squirrel_grasping_node" pkg="squirrel_grasping" type="squirrel_blind_grasping_node.py" output="screen" />
-->
<!--
	<include file="$(find squirrel_grasping)/launch/squirrel_grasping_metahand.launch" >
	</include>
-->

</launch>

